.css-center-section .center-horizontal-inline {
  text-align: center;
}

.css-center-section .center-horizontal-block {
  margin: 0 auto;
  width: 80%;
}

.css-center-section .center-horizontal-block .display-block-inline{
  width: calc(50% - 12px);
}

.css-center-section .center-vertical-inline {
  padding-top: 50px;
  padding-bottom: 50px;
}

.css-center-section .center-vertical-inline-nowrap {
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}

